div.footer-block
	div.middle-block
		div.footer-blockblock-wrapper
			div.newsletter
				p.title Newsletter
				p.some-text-min Insights await in your company's data. Bring them into focus with BlueLance.
				input(placeholder="enter your email")
				div.button-subscribe >
			div.quiklinks
				p.title Quik Links
				ul
					li POWER BI DESKTOP
					li MOBILE
					li SEE ALL DOWNLOADS
					li POWER BI DESKTOP
					li MOBILE
					li SEE ALL DOWNLOADS
			div.legal
				p.title Legal
				ul
					li PRIVACY & COOKIES
					li TERMS OF USE
					li TRADEMARKS
			div.information
				p.title Information
				ul
					li SUPPORT
					li DEVELOPERS
					li BLOG
					li NEWSLETTER
					li PYRAMID ANALYTICS
hr
div.footer-block
	div.middle-block
		div.footer-blockblock-wrapper
			p.footer-logo CARFT LANCE
			p.rights-reserved © Designed by Moin Khan. All Rights Reserved. Made by BlueLance
