div.header-contacts
	div.middle-block
		div.contacts-wrapper
			div.social
				p.social-item.ico-1
				p.social-item.ico-2
				p.social-item.ico-3
				p.social-item.ico-4
			div.requisites
				div.phone
					p.phone-ico
					p.text +44 99151012545
				div.mail
					p.mail-ico
					p.text contact@bluelance.com
div.header-menu
	div.middle-block
		div.menu-wrapper
			p.logo CARFT LANCE
			div.menu
				p.menu-item Products
				p.menu-item Solutions
				p.menu-item Support
				p.button-sign Sign In