div.header-contacts
	div.middle-block
		div.contacts-wrapper
			div.social
				p.social-item.ico-1
				p.social-item.ico-2
				p.social-item.ico-3
				p.social-item.ico-4
			div.requisites
				div.phone
					p.phone-ico
					p.text +44 99151012545
				div.mail
					p.mail-ico
					p.text contact@bluelance.com
div.header-menu
	div.middle-block
		div.menu-wrapper
			p.logo CARFT LANCE
			div.menu
				p.menu-item Products
				p.menu-item Solutions
				p.menu-item Support
				p.button-sign Sign In
div.header-note-book
	div.middle-block
		p.title-block Bring your Big Data to Life With Craft Lance
		p.some-text Blue Lance transforms your company's data into rich visuals for you to collect and organize so you can focus on what matters to you. Stay in the know, spot trends as they happen, and push your business further.
		div.book
		div.subscribe
			input(placeholder="Enter your email address")
			div.button Use it free
		p.agree By clicking Use it free, you agree to the  BlueLance Terms of Service.