div.body-community
	div.middle-block
		p.title-block Community Sign Up
		div.signup-box
			p.sign-ico
			div.sign-process
				p.arrow-up
				p.arrow-down
				p.title Signup Process
				p.some-text 1. User enters email address
				p.some-text 2. Clicks on “Sign up for free”
		div.community-menu
			div.community-menu-item
				p.edition-ico
				p.some-text Community Edition
			div.community-menu-item
				p.complete-ico
				p.some-text Complete Signup Process
			div.community-menu-item
				p.signup-ico
				p.some-text Sign up
div.body-services-package
	div.middle-block
		p.title-block Affordable Services Package
		div.chose-button-wrapper
			p.button-left Business Edition
			div.button-right Community Edition
				p.or OR
		div.showcase
			div.showcase-box
				div.top-box
					p.top-line
					p.title BASIC
					div.price-wrapper
						p.price $59
						p.month per month
				div.bottom-box
					div.text-block
							p.mark-1
							span 20 Keyword
							<br>
							<br>
							p.mark-2
							span No Time Tracking
							<br>
							<br>
							p.mark-1
							span 230 - Man Hour
							<br>
							<br>
							p.mark-2
							span News Letter Available
							<br>
							<br>
					div.button-purchase PURCHASE
			div.showcase-box
				div.top-box
					p.top-line
					p.title STANDARD
					div.price-wrapper
						p.price $79
						p.month per month
				div.bottom-box
					div.text-block
							p.mark-1
							span 20 Keyword
							<br>
							<br>
							p.mark-2
							span No Time Tracking
							<br>
							<br>
							p.mark-1
							span 230 - Man Hour
							<br>
							<br>
							p.mark-2
							span News Letter Available
							<br>
							<br>
					div.button-purchase PURCHASE
			div.showcase-box
				div.top-box
					p.top-line
					p.title UNLIMITED
					div.price-wrapper
						p.price $99
						p.month per month
				div.bottom-box
					div.text-block
							p.mark-1
							span 20 Keyword
							<br>
							<br>
							p.mark-2
							span No Time Tracking
							<br>
							<br>
							p.mark-1
							span 230 - Man Hour
							<br>
							<br>
							p.mark-2
							span News Letter Available
							<br>
							<br>
					div.button-purchase PURCHASE
div.analytics-platform
	div.middle-block
		p.title-block A Comprehensive Data Integration and Business Analytics Platform
		div.community-edition-block
			div.community-edition-box
				i(class="fa fa-book fa-5x" aria-hidden="true").ico
				p.top-line
				p.title Community Edition
				p.some-text Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.
			div.community-edition-box
				i(class="fa fa-bug fa-5x" aria-hidden="true").ico
				p.top-line
				p.title Community Edition
				p.some-text Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.
			div.community-edition-box
				i(class="fa fa-cogs fa-5x" aria-hidden="true").ico
				p.top-line
				p.title Community Edition
				p.some-text Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.
			div.community-edition-box
				i(class="fa fa-external-link fa-5x" aria-hidden="true").ico
				p.top-line
				p.title Community Edition
				p.some-text Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.
			div.community-edition-box
				i(class="fa fa-coffee fa-5x" aria-hidden="true").ico
				p.top-line
				p.title Community Edition
				p.some-text Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.
			div.community-edition-box
				i(class="fa fa-pagelines fa-5x" aria-hidden="true").ico
				p.top-line
				p.title Community Edition
				p.some-text Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.
			div.community-edition-box
				i(class="fa fa-paper-plane fa-5x" aria-hidden="true").ico
				p.top-line
				p.title Community Edition
				p.some-text Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.
			div.community-edition-box
				i(class="fa fa-folder-open fa-5x" aria-hidden="true").ico
				p.top-line
				p.title Community Edition
				p.some-text Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.