div.body-community
	div.middle-block
		p.title-block Community Sign Up
		div.signup-box
			p.sign-ico
			div.sign-process
				p.arrow-up
				p.arrow-down
				p.title Signup Process
				p.some-text 1. User enters email address
				p.some-text 2. Clicks on “Sign up for free”
		div.community-menu
			div.community-menu-item
				p.edition-ico
				p.some-text Community Edition
			div.community-menu-item
				p.complete-ico
				p.some-text Complete Signup Process
			div.community-menu-item
				p.signup-ico
				p.some-text Sign up
div.body-services-package
	div.middle-block
		p.title-block Affordable Services Package