<!DOCTYPE html>
html
    title Maket 3
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    link(href="/static/css/build.css" rel="stylesheet")
    script(src="/static/js/build.js")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet")
    body
        div

        include includes/header

        include home

        include includes/footer