.body-community {
	position: relative;
	background: url(../images/bg.png) 0 0;
	width: 100%;

	.signup-box {
		position: relative;
		max-width: 700px;
		width: 70%;
		height: 300px;
		border: 2px #d6d6d6 solid;
		margin: 0 auto;
		margin-top: 45px;
		text-align: center;
		-webkit-box-shadow: 0px 0px 5px 2px rgba(219,219,219,1);
		-moz-box-shadow: 0px 0px 5px 2px rgba(219,219,219,1);
		box-shadow: 0px 0px 5px 2px rgba(219,219,219,1);

	    @media screen and (max-width: 580px) {
	        width: 85%;           
	    }

		.sign-ico {
			position: relative;
			display: inline-block;
			background: url(../images/sign.png) no-repeat 0 0;
			background-size: cover;
			width: 69px;
			height: 58px;
			cursor: pointer;

		    @media screen and (max-width: 580px) {
		        display: block;
		        margin: 0 auto;
		        margin-top: 15px;          
		    }
		}

		.sign-ico:hover {
			opacity: 0.5;
		}

		.sign-process {
			position: relative;
			display: inline-block;
			padding-left: 50px;
			padding-top: 60px;

		    @media screen and (max-width: 580px) {
		        width: 85%;
		        padding-left: inherit;
		        padding-top: 40px;       
		    }

			.arrow-up {
				position: relative;
				background: url(../images/arrow.png) no-repeat 0 0;
				width: 28px;
				height: 15px;
				cursor: pointer;

			    @media screen and (max-width: 580px) {
			        margin: 0 auto;       
			    }
			}

			.arrow-down {
				position: relative;
				background: url(../images/arrow.png) no-repeat 0 -15px;
				width: 28px;
				height: 15px;
				cursor: pointer;
				padding: 15px 0;
				margin-top: 5px;

			    @media screen and (max-width: 580px) {
			        margin: 0 auto;
			        margin-top: 10px;     
			    }
			}

			.arrow-down:hover {
				opacity: 0.5;
			}

			.arrow-up:hover {
				opacity: 0.5;
			}

			.title {
				position: relative;
				color: #88c874;
				font-family: 'RobotoThin', sans-serif;
				font-size: 26px;
			}

			.some-text {
				position: relative;
				font-size: 16px;
				font-family: 'Timenewromanian', sans-serif;
			    margin: 15px 0;
			}
		}
	}

	.community-menu {
		position: relative;
	    display: flex;
	    flex-direction: row;
	    justify-content: space-around;
	    flex-wrap: wrap;
	    width: 60%;
    	margin: 0 auto;
    	padding-top: 40px;
    	padding-bottom: 80px;

	    @media screen and (max-width: 580px) {
			width: inherit;
			padding-bottom: 20px;
	    }

	    .community-menu-item {

		    @media screen and (max-width: 580px) {
				width: 50%;
				margin: 15px 0;
		    }
	    }

	   	.edition-ico {
	   		position: relative;
	   		background: url(../images/edition.png) no-repeat 0 0;
	   		margin: 0 auto;
	   		width: 46px;
	   		height: 46px;
	   		cursor: pointer;
	   	}

		.edition-ico:hover {
			opacity: 0.5;
		}

	   	.complete-ico {
	   		position: relative;
	   		background: url(../images/complete.png) no-repeat 0 0;
	   		margin: 0 auto;
	   		width: 46px;
	   		height: 46px;
	   		cursor: pointer;
	   	}

		.complete-ico:hover {
			opacity: 0.5;
		}

	   	.signup-ico {
	   		position: relative;
	   		background: url(../images/signup.png) no-repeat 0 0;
	   		margin: 0 auto;
	   		width: 46px;
	   		height: 46px;
	   		cursor: pointer;
	   	}

		.signup-ico:hover {
			opacity: 0.5;
		}

	   	.some-text {
	   		position: relative;
	   		font-family: 'Roboto', sans-serif;
	   		font-size: 12px;
	   		text-align: center;
	   		margin-top: 15px;
	   	}
	}
}

.body-services-package {
	position: relative;

	.chose-button-wrapper {
		position: relative;
		display: flex;
	    flex-direction: row;
	    justify-content: center;
	    flex-wrap: wrap;
	    margin: 50px 0;

		.button-left {
			position: relative;
			border: 1px #d6d6d6 solid;
			width: 138px;
			height: 33px;
			font-family: 'Roboto', sans-serif;
	   		font-size: 12px;
	   		font-weight: bold;
	   		text-align: center;
	   		cursor: pointer;
	   		line-height: 33px;
	   		border-bottom-left-radius: 20px;
	   		border-top-left-radius: 20px;
		}

		.button-right {
			position: relative;
			border: 1px #d6d6d6 solid;
			width: 140px;
			height: 33px;
			font-family: 'Roboto', sans-serif;
	   		font-size: 12px;
	   		font-weight: bold;
	   		text-align: center;
	   		cursor: pointer;
	   		line-height: 33px;
	   		border-bottom-right-radius: 20px;
	   		border-top-right-radius: 20px;
		}

		.button-right:hover {
			color: white;
			background: #5db442;
		}

		.button-left:hover {
			color: white;
			background: #5db442;
		}

		.or {
			position: absolute;
			border-radius: 50%;
			color: white;
			background: #4ca368;
			width: 20px;
			height: 20px;
			text-align: center;
			line-height: 20px;
			z-index: 1;
			font-family: 'Roboto', sans-serif;
	   		font-size: 10px;
	   	    top: 9px;
		}
	}
}

.showcase {
	position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;

    @media screen and (max-width: 580px) {
		display: block;
    }

    .showcase-box {
    	position: relative;
    	max-width: 270px;
    	width: 30%;

	    @media screen and (max-width: 580px) {
			max-width: 100%;
			width: 100%;
			margin: 10px 0;
	    }
    }

	.top-box {
		position: relative;
		height: 115px;
		border: 1px #ececec solid;

		.top-line {
			position: relative;
			width: 80px;
			top: -1px;
			border-top: 4px #ececec solid;
			margin: 0 auto;
			z-index: 1;
		}
	}

	.bottom-box {
		position: relative;
		height: 290px;
		border: 1px #ececec solid;
		text-align: center;

		p {
			position: relative;
			display: inline-block;
			width: 9px;
			height: 9px;
		}

		span {
			position: relative;
			display: inline-block;
			font-family: 'RobotoMedium', sans-serif;
	   		font-size: 12px;
	   		padding-left: 5px;	
		}

		.mark-1 {
			background: url(../images/mark.png) no-repeat 0 0;
		}

		.mark-2 {
			background: url(../images/mark.png) no-repeat -9px 0;
		}

		.text-block {
			position: relative;
			margin-top: 80px;
		}

		.button-purchase {
			position: relative;
			border: 1px #ececec solid;
			border-radius: 20px;
			text-align: center;
			padding: 10px;
			width: 120px;
			margin: 0 auto;
		    margin-top: 10px;
			font-family: 'Roboto', sans-serif;
	   		font-size: 15px;
	   		cursor: pointer;
		}
	}

	.title {
		position: relative;
		font-family: 'RobotoMedium', sans-serif;
   		font-size: 14px;
   		font-weight: bold;
   		text-align: center;
   		margin-top: 20px;
	}

	.price-wrapper {
		position: relative;
		width: 100px;
		height: 100px;
		border: 2px #71bc5a solid;
		border-radius: 50%;
		z-index: 1;
		background: white;
		top: 22px;
		margin: 0 auto;

		.price {
			position: relative;
			text-align: center;
			font-family: 'RobotoMedium', sans-serif;
	   		font-size: 23px;
	   	    margin-top: 30px;			
		}

		.month {
			position: relative;
			font-family: 'Roboto', sans-serif;
	   		font-size: 10px;
	   		font-style: italic;
	   		color: #b6b6b6;
	   		text-align: center;
		}
	}

	.showcase-box:hover .button-purchase {
		color: white;
		background: #5db442;
	}

	.showcase-box:hover .top-line {
		border-top: 4px #5db442 solid;
	}
}

.analytics-platform {
	position: relative;
	background: url(../images/bg.png) 0 0;
	width: 100%;	
}

.community-edition-block {
	position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 50px;

    @media screen and (max-width: 580px) {
		display: block;
    }

    .community-edition-box {
    	position: relative;
    	width: 24%;
    	height: 322px;
		-webkit-box-shadow: 0px 0px 5px 2px rgba(219,219,219,1);
		-moz-box-shadow: 0px 0px 5px 2px rgba(219,219,219,1);
		box-shadow: 0px 0px 5px 2px rgba(219,219,219,1);
		background: white;
		margin: 10px 0;
		cursor: pointer;

	    @media screen and (max-width: 580px) {
			width: inherit;
	    }

		.top-line {
			position: relative;
			width: 80px;
			top: -1px;
			border-top: 4px #ececec solid;
			margin: 20px auto;
			z-index: 1;
		}

		.title {
			position: relative;
			text-align: center;
			font-family: 'Roboto', sans-serif;
	   		font-size: 16px;
	   		font-weight: bold;

		    @media screen and (max-width: 970px) {
		        font-size: 13px;           
		    }
		}

		.some-text {
			position: relative;
			text-align: center;
			font-family: 'RobotoLight', sans-serif;
	   		font-size: 12px;
	   		color: #adadad;
	   		margin-top: 35px;
		    line-height: 20px;
		    width: 80%;
		    margin: 18px auto;

		    @media screen and (max-width: 1350px) {
		        line-height: 15px;           
		    }

		    @media screen and (max-width: 970px) {
		        font-size: 10px;           
		    }
		}
    }

	.community-edition-box:hover .ico {
		color: white;
	}

	.community-edition-box:hover .top-line {
		color: white;
	}

	.community-edition-box:hover .title {
		color: white;
	}

	.community-edition-box:hover .some-text {
		color: white;
	}

	.community-edition-box:hover {
		background: #5db442;
	} 

    .ico {
    	color: #5db442;
    	text-align: center;
        margin-top: 40px;
	    display: inline-block;
	    width: 100%;
    }
}